body
{
	margin: 0;
	padding: 0;

	font-family: Cambria;
	background-color: #FFF;
}
.header
{
	height: 70px;
	background-image: url(images/header_background.jpg);
	background-size: cover; /*background header s'adapte*/
	background-attachment: fixed;
	/*background-image:linear-gradient(white 15%, #575B5B);
	/*background-color: #686C6C;
	border-bottom-width: 15px;
	border-bottom-color: #000;*/
}
a
{
	text-decoration: none;
	color: #FFF;
}
.header-logo
{
    font-size: 34px;
    font-weight: 700;
	display: block;
	float: left;
    margin-top: 35px;
    margin-left: 10px;
}
.menu
{
	display: inline-block;
	float: right;
	text-align: right;
	margin-top: 50px;
	margin-right: 15px;
}
.menu-item
{
	font-size: 16px;
	transition-duration: 0.4s;
}
.menu-item:hover
{
	color: #BA7112;
}
.menu-item:before
	{
		content: '|';
		color: #FFF;
		padding: 0 22px 0 13px;
	}
.menu-item:first-child:before
{
	display: none;
}
.formulaire{
	margin-top: 100px;
}
form {

    margin: 0 auto;
    width: 600px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 200px;
    text-align: right;
}
input {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #BA7112;
}
input:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #BA7112;
}
.button {
    /* Pour positionner les boutons de la même manière que les champs textuels */
    padding-left: 300px; /* même dimension que les étiquettes */
}

button {
    /* Cette marge représente approximativement le même espace
       que celui entre les étiquettes et les champs textuels */
    margin-left: .5em;
}
button a{
	    color: #BA7112;
}
.titre{
	text-align: center;
	color: #BA7112;
	margin-top: 50px;
}